

.main{
    
    min-height: 100vh;
    flex:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
   flex: 40%;
   border-style: hidden;

}
.center{
    float: left;
    border-style: hidden;
    height: 200px;
}
.contacts{
    float: left;

}
.middle{
    flex:30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

.image1{
    border-style: hidden;
    flex:23%;
    justify-content: space-evenly;
}
.img{
    object-fit: cover;
}


footer{

   flex: 10%;
   bottom: 0%;
   border-style: hidden;
}

footer ul {
    display: inline-block;
}


@media(max-width:600px){
    .main{
    
        flex-wrap: nowrap;
    }
    .img{
        max-width: 100%;
        height: auto !important;
    }
    .middle{
        flex-direction: column;
        width: 100%;
        height: auto !important;
    }
    
    .countainer{
        bottom: auto;
    }
    

}
